.blog {
	background: url('../../img/blog.jpg');
	background-size: 100% 100%;
	margin-top: -50px;
	padding-top: 50px;
	min-height: 1080px;

	.blog__wrapper {
		margin-top: 60px;
		margin-bottom: 60px;
		border: 3px solid $primary--colour;
		background: linear-gradient(rgba(200,200,200,0.7), rgba(200,200,200,0.7));
		padding-bottom: 50px;

		h1, p {
			font-family: $secondary--font;
		}

		.top-text {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 50px;
			font-weight: 600;
		}

		h1 {
			background-color: darken($primary--colour, 8%);
			color:white;
			padding: 10px;
			padding-left: 15px;
			font-style: italic;
		}


		.blog__listing {
			width: 80%;
			margin-left:auto;
			margin-right: auto;
			margin-top: 50px;

			.row {
				margin-bottom: 25px;
			}

			a:hover {
				color: $primary--colour;
			}

			a, a > h2 {
				color: black;
			}



			img {
				width: 300px;
				height: 250px;
				border: 3px solid white;

				@media (max-width: 436px) {
					width: 100%;
				}
			}

			.blog__text {
				padding: 20px;
				width: 80%;
				font-family: $secondary--font;

				@media (max-width: 1199px) {
					margin-left: 110px;

					p {
						font-size:14px;
					}
				}

				@media (max-width: $screen-xs-max) {
					margin-left: 0;
				}

				h2 {
					text-shadow: 1px 1px 1px white;
				}

				.date {
					margin-top: -10px;
					font-style: italic;
					font-weight: 600;
				}
			}

			.blog__link:hover > img {
				transition: 0.2s all;
				opacity:0.75;
				border-color: $primary--colour;
			}
		}

		.form__wrapper {
			text-align: center;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;

			> form > p {
				margin-bottom: 0;
				margin-top: 15px;
				font-weight: 800;
			}

			.checkbox {
				display:inline;
				margin-left: 10px;
				margin-right: 10px;

				input {
					margin-right: 5px;
				}
			}
			.submit {
				display:inline-block;

				input {
					padding-right: 25px;
					padding-left: 25px;
				}
			}
		}

		
	}
}

// overrides for the details page
.blog__detail {
	.blog__wrapper {
		background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7));

		.blog-head h1 {
			font-size: 20px;
		}

		.blog__content {
			margin-top: 25px;
			width: 90%;
			margin-left:auto;
			margin-right: auto;

			.date {
				i {
					margin-right: 5px;
				}
			}

			h2 {
				margin-bottom: 10px;
			}

			.tags__wrapper {
				margin-top: 15px;
				margin-bottom: 20px;

				h5 {
					font-size: 16px;
				}

				.tag {
					background: $primary--colour;
					font-weight: 100;
					margin-left: 5px;
					margin-right: 5px;
				}
			}

			p {
				font-family: $primary--font;
			}

			span.code {
				color: white;
				background: $primary--colour;
				padding: 3px;
				font-family: "Courier New", Courier, monospace;
			}

			pre code {
				padding: 20px;
			}

			p > code {
				background: $primary--colour;
				color: white;
			}
		}

		.blog-foot {
			position:relative;
			bottom:-50px;
			left:0;
			width: 100%;
			border-top: 1px solid $primary--colour;

			a {
				padding: 10px;
				color: $primary--variation;
			}
		}
	}
}