.blog {
	background: url('../../img/blog.jpg');
	background-size: cover;
	margin-top: -50px;
	padding-top: 50px;
	min-height: 1080px;

	.blog__wrapper {
		margin-top: 60px;
		margin-bottom: 60px;
		border: 3px solid $primary--colour;
		background: linear-gradient(rgba(225,225,225,0.8), rgba(200,200,200,0.8));
		padding-bottom: 50px;

		h1, p {
			font-family: $secondary--font;
		}

		.top-text {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 50px;
			font-weight: 600;
		}

		h1 {
			background-color: darken($primary--colour, 8%);
			color:white;
			padding: 10px;
			padding-left: 15px;
			font-style: italic;
			font-size: 20px;

			@media (max-width: $screen-xs-max) {
				font-size: 16px;
			}
		}


		.blog__listing {
			width: 80%;
			margin-left:auto;
			margin-right: auto;
			margin-top: 50px;

			.row {
				margin-bottom: 25px;
				margin-left: 25px;

				@media (max-width: $screen-sm-max) {
					margin-left: 0px;
				}
			}

			a:hover {
				color: $primary--colour;
			}

			a, a > h2 {
				color: black;
			}



			img {
				border: 3px solid white;

				@media (max-width: 436px) {
					width: 100%;
				}
			}

			.blog__text {
				padding: 20px;
				width: 80%;
				font-family: $secondary--font;
				margin-left: 25px;

				p {
					font-family: $primary--font;
				}

				@media (max-width: 1199px) {
					margin-left: 110px;

					p {
						font-size:14px;
					}
				}

				@media (max-width: $screen-xs-max) {
					margin-left: 0;
					width: 100%;
					padding: 20px 0;
				}

				h2 {
					text-shadow: 1px 1px 1px white;
					font-size: 25px;

					@media (max-width: $screen-sm-max) {
						font-size: 18px;
					}
				}

				.date {
					font-weight: 600;
					font-size: 14px;

					@media (max-width: $screen-sm-max) {
						font-size: 11px;
					}
				}

				.separator {
					padding: 0 3px;
				}
			}

			.blog__link:hover > img {
				transition: 0.2s all;
				opacity:0.75;
				border-color: $primary--colour;
			}
		}

		.form__wrapper {
			text-align: center;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;

			@media (max-width: $screen-xs-max) {
				text-align: left;
			}

			> form > p {
				margin-bottom: 10px;
				margin-top: 15px;
				font-weight: 800;
			}

			.checkbox {
				display:inline;
				margin-left: 10px;
				margin-right: 10px;

				@media (max-width: $screen-xs-max) {
					float: left;
					width: 45%;
					font-size: 12px;
					margin-left: 0;
				}

				label {
					cursor: pointer;
				}

				label > div {
					margin-right: 10px;
				}

				input {
					margin-right: 5px;
				}
			}
			.submit {
				display:inline-block;
				margin-top: 20px;

				input {
					padding-right: 25px;
					padding-left: 25px;
				}
			}
		}


	}
}

// overrides for the details page
.blog__detail {
	.wysiwyg {
		h1,h2,h3,h4,h5,h6 {
			padding-bottom: 10px;
			padding-top: 10px;
			font-family: $secondary--font;
			font-weight: 600;
			color: #444;
			letter-spacing: -1px;
		}
	}
	.container {
		max-width: 920px;
	}
	.blog__wrapper {
		background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));

		.blog-head h1 {
			font-size: 20px;

			@media (max-width: $screen-xs-max) {
				font-size: 16px;
			}
		}

		.blog__content {
			margin-top: 25px;
			width: 90%;
			margin-left:auto;
			margin-right: auto;

			.date {
				margin-left: 2px;
				font-size: 14px;
				color: #333;
				i {
					margin-right: 5px;
				}
			}

			.time {
				padding-left: 20px;
				font-size: 14px;
				@media (max-width: $screen-xs-max) {
					padding-left: 0;
					margin-top: 5px;
					display: block;
				}
			}

			h2 {
				margin-bottom: 10px;
			}

			.tags__wrapper {
				margin-top: 15px;
				margin-bottom: 20px;

				h5 {
					font-size: 16px;
				}

				.tag {
					background: $primary--colour;
					font-weight: 100;
					margin-left: 5px;
					margin-right: 5px;
				}
			}

			p {
				line-height: 2;
				font-family: $primary--font;
			}

			span.code {
				margin-left: 3px;
				margin-right: 3px;
				color: white;
				background: $primary--colour;
				padding: 3px;
				font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
			}

			pre code {
				// padding: 20px;
				white-space: pre;
			}

			p > code {
				background: $primary--colour;
				color: white;
				white-space: nowrap;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			iframe {
				max-width: 100%;
				height: auto;
			}

			ul {
				padding-left:1.2em;
			}

			a {
				color: $primary--colour;
				font-weight: 600;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.blog-foot {
			position:relative;
			bottom:-50px;
			left:0;
			width: 100%;
			border-top: 3px solid $primary--colour;
			background: white;

			a {
				padding: 10px;
				color: $primary--variation;
				font-family: $secondary--font;
				transition: all 1s;
				border-radius: 5px;
				border: 1px solid transparent;

				&:hover {
					text-decoration: none;
					background: $primary--colour;
					border: 1px solid white;
					color: white;
				}
			}
		}
	}
}

// FILTER button:
.snip1535 {
  background-color: $primary--colour;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1em;
  margin: 10px 0;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: $primary--colour;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: $primary--colour;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: $primary--colour;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}