.navbar {
	position:relative;
	animation: slide-left-to-right 0.5s forwards;
	border-radius: 0px;
	padding-left: 5%;
	padding-top: 15px;
	background: $primary--colour; 
	font-family: $secondary--font;

	// the farthest right nav icon
	.pull-right li:nth-child(2) {
		margin-left: -35px;
	}
	// linkedin / email icon hover
	.pull-right li i:hover{
		opacity:0.4;
	}
	.home-active {
		border: 1.9px solid white;
		border-radius: 50%;
		background-color: #8781bd;
	}
	.fa-home {
		padding: 5px;
		color:white;
		
		&:hover {
			border-radius: 50%;
			background-color: white;
			color: $primary--colour;
		}
	}
	@media (min-width: $screen-sm-min) {
		.zigzag {
			position:absolute;
			left:0;
			animation: spikes-slide-down 0.4s ease-in-out forwards;
			animation-delay: 1s;
			height: 34px;
			width: 100%;
			background: transparent url('../../img/bottom-zig.png') repeat-x;
			
		}
	}

	.navbar-nav .nav-item {
		margin-left: 50px;
	}

	ul li a{
		color:white;
	}

	ul, .navbar-brand {
		opacity: 0;
		animation: nav-fade-in 0.3s ease-in-out forwards;
		animation-delay: 0.5s;
	}

	.active {
		border-bottom: 3px solid white;
		padding-bottom: 0px;
	}
}