.navbar {
	animation: slide-left-to-right 0.5s forwards;
	border-radius: 0px;
	padding-left: 5%;
	padding-top: 15px;
	background: $primary--colour; 
	font-family: $secondary--font;
	box-shadow: inset 0 15px 9px -15px white;

	@media (max-width: $screen-sm-max) {
		border-bottom: 5px solid white;
	}

	button.navbar-toggler {
		background: none;
		border: 1px solid silver;
		color: white;
		width: 180px;
		margin-left: 50%;
		transform: translateX(-50%);
		margin-bottom: 5px;

		&:focus {
			background: white;
			color: $primary--colour;
		}

		&:hover {
			background: white;
			color: $primary--colour;
		}

		@media (max-width: 450px) {
			width: 140px;
			font-size: 15px;
		}
	}

	@media (max-width: $screen-sm-max) {
		.nav-link {
			display: inline-block;
		}
	}

	// remove the margins of the nav icons
	@media (min-width: $screen-md-min) {
		.nav-icons .nav-item{
			margin-left: 5px !important;
		}
	}

	.nav-icons {
		@media (max-width: $screen-sm-max) {
			li {
				display:inline-block;
			}

			ul {
				text-align: center;
			}
		}
	}

	// linkedin / email icon hover
	.nav-icons li i:hover{
		opacity:0.4;
	}
	.home-active {
		border: 1.9px solid white;
		border-radius: 50%;
		background-color: $primary--variation;
	}
	.fa-home {
		padding: 5px;
		color:white;
		
		&:hover {
			border-radius: 50%;
			background-color: white;
			color: $primary--colour;
		}
	}
	@media (min-width: $screen-sm-min) {
		.zigzag {
			position:absolute;
			left:0;
			animation: spikes-slide-down 0.4s ease-in-out forwards;
			animation-delay: 1s;
			height: 34px;
			width: 100%;
			background: transparent url('../../img/bottom-zig.png') repeat-x;
			
		}
	}

	.navbar-nav .nav-item {
		margin-left: 50px;

		@media (max-width: $screen-sm-max) {
			margin-left: 0;
			text-align: center;
		}
	}

	ul li a{
		color:white;
	}

	ul, .navbar-brand {
		opacity: 0;
		animation: nav-fade-in 0.3s ease-in-out forwards;
		animation-delay: 0.5s;
	}

	.active {
		border-bottom: 3px solid white;
		padding-bottom: 0px;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 5px;
			margin-top: -10px;
		}
	}
}

.navbar-fixed-top {
	opacity: 0;
	animation: nav-fade-in 0.3s ease-in-out forwards;

	background: $primary--colour;
	border-bottom: 2px solid $primary--variation;
	outline: 5px solid $secondary--colour;

	@media (min-width: $screen-md-min) {
		height: 50px;
	}

	@media (max-width: $screen-sm-max) {
		ul {
			margin-top:25px;
		}
	}

	.nav-contents {
		position:relative;
		top: -13px;
	}

	ul li a {
		color: white;
	}

	ul, .navbar-brand {
		opacity:1;
		animation: none;
	}

	.fa-home {
		color: white;

		&:hover {
			color: $primary--variation;
		}
	}

	.home-active {
		color: white;
	}

	.active {
		padding-bottom: 0px;
	}
}

.hidden {
	display:none;
}