
.portfolio-wrapper {
	background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.8), rgba($primary--colour,0.8)), url('../../img/mac2.jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100%;

	a {
		color: $primary--variation;
	}

	.container-fluid {
		width: 90%;
	}

	.portfolio-header {	
		margin-top: -10px;
		padding-top: 20px;
		font-family: $secondary--font;


		.profile-image {
			background: transparent url('../../img/profile.jpg') no-repeat;
			background-size: 375px;
			background-position: center top;
			height: 175px;
			width: 190px;
			border-radius: 50%;
		}

		@media (max-width: 1450px) {
			.text {
				margin-left: 10%;
			}
		}

		@media (max-width: $screen-md-min) {
			.text {
				margin-left: 150px;
				margin-top: 30px;
			}
		}

		@media (max-width: $screen-sm-min) {
			.text {
				margin-left: 0;
				margin-right: 0;

				> div {
					text-align: center;
					p {
						float: none;
					}
				}
				h1 {
					text-align: center;
				}
			}

			.profile-image {
				margin-left: auto;
				margin-right: auto;
			}
		}

	}

	.items-wrapper {
		margin-bottom: 50px;

		.empty--projects {
			height: 80vh;

			h3 {
				font-size: 19px;
				margin-top: 50px;
			}
		}
	}

	.item-wrapper {
		position:relative;

		.portfolio__overlay {
			opacity:0;
			transition: all 0.4s;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: rgba(darken($primary--colour,20%),0.7);
			color:white;

			&:hover {
				opacity:1;
			}
			
			div.short {
				margin-top: 12%;
			}

			div.tall {
				margin-top: 40%;
			}
			div {
				background: $primary--variation;
				padding: 10px;
				border-top: 2px solid $primary--colour;
				border-bottom: 2px solid $primary--colour;

				h3 {
					font-size: 18px;

					@media (min-width: $screen-xs-max) and (max-width: 1065px) {
						font-size: 13px;
					}
				}

				p {
					@media (min-width: $screen-xs-max) and (max-width: 1350px) {
						display:none;
					}
					@media (min-width: $screen-xs-max) and (max-width: 1500px) {
						font-size: 12px;
					}
				}

				a {
					color: white;
					text-decoration: underline;
					font-weight: 600;

					&:hover {
						text-decoration: none;
					}

					@media (min-width: $screen-xs-max) and (max-width: 1065px) {
						font-size: 11px;
					}
				}
			}

			
		}
	}

	.portfolio-item {
		width: 100%;
		display: block;
		margin-top: 20px;
		opacity: 0;
		background-color: $primary--colour;
		border: 3px solid lighten($primary--colour, 20%);

		&.is-visible-1 {
			animation: portfolio-anim-1 0.3s ease-in-out forwards;
		}

		&.is-visible-2 {
			animation: portfolio-anim-2 0.2s ease-in forwards;
		}

		&.is-visible-3 {
			animation: portfolio-anim-3 0.3s ease-in forwards;
		}
		
		&.is-visible-4 {
			animation: portfolio-anim-4 0.2s ease-in forwards;
		}

		&.is-visible-5 {
			animation: portfolio-anim-5 0.25s ease-in-out forwards;
		}

		&.is-visible-6 {
			animation: portfolio-anim-6 0.3s ease-in-out forwards;
		}
	}
}





@keyframes portfolio-anim-1 {
	0% {
		opacity: 0;
		transform: scale(0.3);
		transform: rotateX(45deg);
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes portfolio-anim-2 {
	0% {
		opacity: 0;
		transform: rotateX(50deg);
		transform: translate3d(200px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes portfolio-anim-3 {
	0% {
		opacity: 1;
		transform: scale(0.1);
		transform: rotateX(90deg);
		transform: translateY(700px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes portfolio-anim-4 {
	0% {
		opacity: 0;
		transform: translateY(300px);
		transform: rotateX(90deg);
	}
	50% {

	}
	70% {
		
	}
	100% {
		opacity: 1;
	}
}

@keyframes portfolio-anim-5 {
	0% {
		opacity: 0;
		width: 0%;
		transform: translateX(50%);
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes portfolio-anim-6 {
	0% {
		opacity: 0;
		transform: translateX(-50%);
		transform: translateY(-50%);
	}
	100% {
		opacity: 1;
	}
}

// MODAL BELOW HERE ----------------------
.project__modal {
	.modal-content {
		background: $primary--colour;
		border: 3px solid white;
		border-radius: 0 15px 0 0;
		color: white;

		h2 {
			font-family: $secondary--font;
			text-align: center;
			padding: 10px;
			border-radius: 5px;
		}

		.project__text {
			padding: 20px;
			color: white;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			p {
				margin-bottom: 0;
			}

			h2 {
				font-family: $tertiary--font;
			}
		}	
	}

	.modal-lg {
		max-width: 1400px;
	}

	.modal-header {
		padding:0px;

		a {
			font-family: $secondary--font;
			display: block;
			letter-spacing: 2px;
			font-size: 25px;
			text-align: center;
			background: white;
			color: $primary--colour;
			border-radius: 0 10px 0 0;
			transition: all 0.25s;


			&:hover {
				background: $secondary--colour;
				color: white;
				text-decoration: none;
			}
		}
	}

	 .galleria{ height: 650px; background: white; border-radius: 20px;}
	 .galleria-theme-classic { background: white; border-radius: 6px; }

	 .fieldset {
	    border: 2px groove threedface;
	    border-top: none;
	    padding: 0.5em;
	    margin-left:auto;
	    margin-right: auto;
	    margin-top: 20px;
	    color: white;
	    font-family: $secondary--font;
	    display: inline-block;

	    img {
	    	margin-right: 10px;
	    	margin-left: 10px;
	    	width: 60px;
	    	height: auto;
	    }

	    > p {
		    margin: -1em -0.5em 0;

		    > span {
			    float: left;
			}

			&:before {
		        border-top: 2px groove threedface;
		        content: ' ';
		        float: left;
		        margin: 0.5em 2px 0 -1px;
		        width: 0.75em;
		    }

		    &:after {
		        border-top: 2px groove threedface;
		        content: ' ';
		        display: block;
		        height: 1.5em;
		        left: 2px;
		        margin: 0 1px 0 0;
		        overflow: hidden;
		        position: relative;
		        top: 0.5em;
		    }
		}
	}
}
	