* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.modal-open {
	// this is to stop the content from shifting when we open the modal.
	padding-right: 17px !important;

	.modal {
		overflow-y:scroll;
	}
}

// hide galleria images by default incase js doesnt load
.galleria img {
	display:none;
}

.message.error {
	background: transparentize(#D33C44, .3);
	color: white;
	text-align: center;
	margin-bottom: 25px;
	padding: 5px;
}

@import 'variables';
@import 'animate';
@import 'typography';
@import 'nav';

// pages
@import 'homepage';
@import 'portfolio';
@import 'outsideofwork';
@import 'blog';
@import 'gallery';

@import 'footer';

@import 'loader';
