.profile-picture {
	img {
		width: 120px;
		height: 120px;

		box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3);

		@screen sm {
			width: 250px;
			height: 250px;
		}
	}
}

.card {
	@apply mx-0 bg-grey-lighter bg-white;

	@screen md {
		@apply mx-4 flex flex-col rounded-lg mb-6;
		box-shadow: 0 13px 27px -5px rgba(50,50,93,.25);
	}
}

.project {
	@apply flex
		p-6
		no-underline;

	@screen md {
		@apply flex-wrap;
	}

	@screen lg {
		@apply flex-no-wrap;
	}
}

.card-header {
	@apply bg-pink-darker
		p-5
		text-xl
		text-pink-lightest
		uppercase
		tracking-wide
		border-pink-dark
		border-l-8;

	@screen md {
		@apply rounded-t-lg
			border-0;
	}
}

.blog-list-item {
	img {
		@apply mr-2;
		max-width: initial;
		border-radius: 50%;
		box-shadow: 1px 1px 0px 2px #ff609a;
	}
}