#particles-js {
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.jumbotron {
	border-radius: 0px;
	margin-bottom: 0px;
}

.jumbotron-home {
	padding-top: 9rem;


	// background: transparent url('../../img/buildings.jpg'), linear-gradient(#444, #111) no-repeat 50% 75%;
	background-image:  linear-gradient(to left, rgba(#1f1c2c, 1), rgba(darken(#928dab, 17%), 0.5)), url('../../img/portfoliobanner.jpg');
	background-position: 100% 80%;
	background-size: cover;
	height: 800px;

	@media (max-width: $screen-sm-max) {
		height: auto;
	}

	@media (max-width: $screen-xs-max) {
		margin-top:-70px;
	}

	.container-fluid {
		margin-top: 5px;
	}


	#text-wrapper {
		margin-top: 85px;
		margin-left: 65px;

		@media (max-width: 1300px) {
			margin-top: 80px;
			border-left: none;
			padding:10px;
			font-size: 20px;
		}

		@media (max-width: $screen-sm-max) {
			margin-top: 20px;
			margin-left: 0px;
		}

		a {
			color: white;
			text-decoration: underline;
			font-weight: 600;

			&:hover {
				color: $primary--colour;
				text-decoration: none;
			}
		}

		.button {
			width: 80%;
		}
	}

	h1 {
		color:white;
		text-shadow: 1px 1px 1px #333;
	}

	p {
		color: white;
		font-family: $tertiary--font;

		
	}

	h1, p {
		width: 75%;
		padding: 5px;
		border-radius: 4px;

		@media (max-width: $screen-sm-max) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			background: none;
		}
	}
	.btn {
		border: 1px solid white;
		color:white;
		text-shadow: none;
		background: darken($primary--colour, 10%);
		font-size: 16px;

		&:hover {
			background: $primary--colour;
			color: white;
		}
	}
}

.home-profile {
	margin-top: 80px;
	margin-left: 80px;
	background: transparent url('../../img/profile-2.jpg') no-repeat;
	background-size: 850px;
	background-position: center top;
	height: 350px;
	width: 100%;
	border-radius: 50%;
	-webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.69);
	-moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.69);
	box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.69);
	animation: circletosquare 0.5s ease-in forwards;

	@media (max-width: $screen-sm-max) {
		margin-top: 0px;
		margin-left: 0px;
		width: auto;
	}
}

.photo-text-wrapper {
	width: 100%;
}

.jumbotron-key-skills {
	padding-top: 30px;
	background-color: $primary--colour;
	border-top: 2px solid darken($primary--colour, 20%);
	border-bottom: 2px solid darken($primary--colour, 20%);

	span {
		font-size: 0.9rem;
		font-family: $secondary--font;
		font-style: italic;
		opacity: 0.8;

		color:white;
		position: relative;
		top: -25px;
		left: 23px;
	}

	h2 {
		color: white;
		font-family: $secondary--font;
		font-size: 1.25rem;

		@media (max-width: 1250px) {
			font-size: 0.9rem;
		}
	}

	img {
		height: 115px;
		width: auto;

		@media (max-width: 1250px) {
			height: 75px;
		}
	}

	button {
		// remove some defaults
		background: none;
		border: none;

		&:focus {
			border: none;
			outline: none;
		}
	}
}

.key-skill {
	padding: 10px;
	border: 3px solid transparent;
	cursor: pointer;
	transition: 0.3s all;

	@media (max-width: $screen-sm-max) {
		text-align: center;
	}

	&:hover {
		border-color: lighten($primary--colour, 20%);
	}

	&:hover > form > button > img, &:hover > form > button > h2{
		opacity: 0.5;
	}
}

.jumbotron-portfolio {
	position: relative;

	.col-portfolio {
		@media (max-width: $screen-xs-max) {
			height: 600px;
		}

		@media (max-width: 620px) {
			height: 380px;
		}

		.image-wrapper {
			max-height: 400px;
			overflow: hidden;
		}
	}


	.text {
		position:relative;
		top: 15px;

		@media (max-width: $screen-sm-max) {
			left: 50px;
			background: none;
			padding:15px;
			border-radius:12px;
		}

		@media (max-width: $screen-xs-max) {
			left: 0px;
			top: -140px;
		}
	}
	padding-top: 5rem;
	padding-bottom: 2rem;
	background-image:  linear-gradient(to right, #1f1c2c, darken(#928dab, 17%));
	background-position: 50% 50%;
	background-size:cover;

	@media (max-width: $screen-xs-max) {
		background-size:cover;
	}

	@media (max-width: $screen-sm-max) {
		padding-bottom: 0;
	}

	h2 {
		margin-top: 30px;
		font-family: $secondary--font;
		font-size: 60px;
		@media (max-width: 1300px) {
			font-size: 30px;
		}

		@media (max-width: $screen-sm-max) {
			margin-top: 0px;
			color: white;
		}
	}
	p {
		font-family: $secondary--font;
		color: $primary--colour;

		@media (max-width: 850px) {
			font-size: 15px;
		}

		a {
			color: white;
			background: $primary--colour;
			font-family: $primary--font;
			padding: 1px 7px;
			border-radius: 4px;
			margin: 4px;
			font-size: 14px;
			display: inline-block;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
				background: white;
				color: $primary--colour;
			}
		}

		@media (max-width: $screen-sm-max) {
			color: white;
		}
	}

	img {
		position: relative;
		height: 250px;
		width: 380px;
		border: 3px solid white;
		border-radius: 4px;

		@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
			width: 253px;
			height: 166px;
		}

		@media (max-width: 620px) {
			width: 180px;
			height: 120px;
		}
	}

	.img-1 {
		left: -75px;

		// @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
		// 	top: -80px;
		// }
		@media (max-width: $screen-xs-max) {
			left: 25px;
		}
		@media (max-width: 350px) {
			left: -20px;
		}
	}
	.img-2 {
		top: -200px;
		left: -25px;

		@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
			top: -125px;
		}
		@media (max-width: $screen-xs-max) {
			left: 75px;
		}

		@media (max-width: 620px) {
			top: 25px;
			left: -125px;
		}

		@media (max-width: 442px) {
			left:65px;
			top:-80px;
		}

		@media (max-width: 350px) {
			left:5px;
		}
	}
	.img-3 {
		top: -400px;
		left: 25px;

		@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
			top: -250px;
		}

		@media (max-width: $screen-xs-max) {
			left: 125px;
		}

		@media (max-width: 620px) {
			left: 100px;
			top: -65px;
		}

		@media (max-width: 442px) {
			left:110px;
			top:-160px;
		}

		@media (max-width: 350px) {
			left:30px;
		}
	}

	.scribble-bg {
		height: 500px;
		width: 700px;
		position:absolute;
		left:-75px;
		top: -100px;
		background-image: url('../../img/scribble.png');
		background-position: center center;
		background-repeat: no-repeat;

		@media (max-width: 1200px) {
			width: 500px;
			left: 0;
		}

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}

.jumbotron-contact {
	background: $primary--colour;
	border-top: 2px solid #3c3c46;

	h2 {
		font-family: $secondary--font;
		margin-bottom: 35px;
		color: white;
	}

	input, textarea {
		width: 100%;
		background: white;
		border: none;
		color: darken($primary--colour, 10%);
		padding: 10px 12px;
		font-size: 12px;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: darken($primary--colour, 10%);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: darken($primary--colour, 10%);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: darken($primary--colour, 10%);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: darken($primary--colour, 10%);
		}

		&:focus {
			outline: 2px solid black;
		}
	}

	textarea {
		min-height: 200px;
	}

	.input {
		width: 44%;
		margin-bottom: 25px;
	}

	.textarea {
		width: 100%;
		margin-bottom: 15px;
	}

	.text {
		float: left;
	}

	.email {
		float: right;
	}

	.submit {
		float:right;

		input {
			padding: 5px 28px;
		}
	}

	.social {
		clear: both;

		hr {
			border-top: 2px solid white;
			margin-top: 6rem;
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

		p {
			font-family: $secondary--font;
			color: white;
		}
	}
}

#twitter, #instagram, #facebook {
	display:inline-block;
	width: 50px;
	height: 50px;
	margin: 5px;
	background: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.25s all;

	&:hover {
		opacity: 0.5;
	}
}

#facebook {
	background-image: url('../../img/facebook_circle-512.png');
}

#twitter {
	background-image: url('../../img/twitter_circle_color-256.png');
}

#instagram {
	background-image: url('../../img/instagram-flat-icon-circle-image.png');
}
