$primary--colour: #232323;

#ajaxLoader {
	display: none;
	width: 100%;
	height: 100%;
	background: transparent url('../../img/ajax-loader.gif') no-repeat;
	background-position: 50% 100px;
	z-index: 100;
	position:absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: $primary--colour;

	> h4 {
		margin-top: 170px;
	}
}
#loading{
	background-color: $primary--colour;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1031; // stick that in your pipe and smoke it boostrap-fixed-header
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 500px;
	margin-top: -100px;
	margin-left: -250px;

	h1, h2 {
		color: white;
		margin-bottom: 10px;
		font-size: 20px;
		padding: 10px;
	}

	a {
		background: white;
		color: $primary--colour;
		border-radius: 5px;
		padding: 0 10px;

		&:hover {
			color: white;
			background: $primary--colour;
		}
	}
}
#object{
	width: 80px;
	height: 80px;
	background-color: #FFF;
	-webkit-animation: animate 0.75s infinite ease-in-out;
	animation: animate 0.75s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
#object-404 {
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-weight: 800;
	font-size: 35px;
	background-color: #FFF;
	-webkit-animation: animate-2 1.25s ease-in-out;
	animation: animate-2 1.25s ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align:center;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes animate-2 {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 25% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
  75% { 
    transform: perspective(160px) rotateX(0deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(-180deg);
  }
  100% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  }
}